global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'discord-bot'
    static_configs:
      - targets: ['discord-bot:8888']
    scrape_interval: 30s
    metrics_path: /metrics
